.venv/
*.env

__pycache__/
*.pyc
*.pyo

.spotify_cache
.cache

frontend_react/node_modules/
frontend_react/dist/

Thumbs.db
desktop.ini

spotify_draft.py
lastfm_draft.py
spotifyapi.py

#temporarily ignore
App.jsx
components
api
musicAPI